BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 4
SpaceAfterCStyleCast: true
IndentPPDirectives: BeforeHash
PPIndentWidth: 4